{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "targets": {
          "node": 14,
          "browsers": [">1%", "not IE 11", "not op_mini all", "not dead"]
        },
        "corejs": 3.19,
        "debug": true
      }
    ]
  ],
  "comments": false
}
